.form input {
    height: 40px;
    margin-bottom: 7px;
    padding: 5px;
}
.form label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}
.form span {
    display: block;
    font-size: 15px;
    margin: 5px 0px;
}
.form .display-info {
    margin-top: 80px;
}
.form .list td {
    text-align:center;
       padding: 0px 20px;

}
.form .list input {
    height: 15px;

}
.form .list label {
        display: inline-block;
    text-transform: none;
    margin-left: 6px;
    position: relative;
    bottom: 3px;

}